* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 0px auto;
    margin-left: 16% !important;
    margin-right: 10% !important;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white !important;
}

/*Header Section1*/

#header .Section1 {
    background-color: black;
}

#header .Section1 .logo {
    color: white;
}

#header .Section1 .navbar li {
    display: inline;
    margin-right: 10px;
}

#header .Section1 ul li:nth-child(1) {
    border: 1px solid #e8554e;
    background-color: #e8554e;
}
@media (max-width : 1400) and (min-width : 1200){
    #header .Section1{
        width: 1500px;
    }
}

/*Header Section2 Carousel*/

#header .Section2 {
    width: 955px;
    overflow: hidden;
}

#header {
    background-image: url("http://www.thelodhi.com/images/gym.jpg");
}

.slider {
    display: flex;
}

#header .Carousel img {
    position: relative;
    height: 600px;
    width: 985px;
    animation: anim_1 10s linear alternate infinite;
}

@keyframes anim_1 {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-1000px);
    }
    45% {
        transform: translateX(-1000px);
    }
    50% {
        transform: translateX(-2000px);
    }
    70% {
        transform: translateX(-2000px);
    }
    75% {
        transform: translateX(-3000px);
    }
    100% {
        transform: translateX(-3000px);
    }
}

#header .Section2 .bannerInfo {
    color: white;
    position: absolute;
    bottom: 250px;
}

.bannerInfo :first-child {
    border: 1px solid #e8554e;
    background-color: #e8554e;
}

/*INtroduction */

.subIntro {
    padding: 1.5% !important;
    flex-basis: 20% !important;
    justify-content: left;
}

.subIntro span {
    font-size: 15px;
}

.red {
    color: red;
}

Introduction {
    margin: 20px !important;
}

IntroHeading {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

IntroHeading h2 {
    margin-left: -20% !important;
}

IntroHeading h5 {
    margin-left: -10% !important;
}

SubIntro i {
    color: red;
    font-size: 20px !important;
}

/* Trainer Section*/

.Trainers {
    justify-content: center;
    text-align: center;
}

.Trainers {
    color: white;
    padding-top: 30px;
}

.about-border {
    display: block;
    width: 80px;
    height: 3px;
    background: #f1cd8f;
    margin: 20px auto;
}

.trainers {
    background: url(https://p.w3layouts.com/demos/fitness_time/web/images/team-bg.jpg);
    border: 1px solid red;
}

.Trainer {
    padding: 0% !important;
    width: 200px !important;
    flex-basis: 20% !important;
    position: relative;
    perspective: 800px;
    margin-bottom: 5%;
}

.Trainer img {
    height: 250px;
    width: 200px;
}

.Trainer h5 {
    width: 200px;
    padding-bottom: 0px !important;
    margin-bottom: 0px;
    background-color: white;
}

.Trainer h6 {
    width: 200px;
    padding-top: 0px !important;
    background-color: white;
}

#card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 2s;
}

#card div {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#card .back {
    background: white;
    transform: rotateY( 180deg);
}

#card .back span {
    float: right;
    color: red;
    font-weight: bold;
}

#card:hover {
    transform: rotateY(180deg);
}

/* Gallery */

.Gallery {
    margin-top: 30px;
}

.galleryhead {
    justify-content: center;
    text-align: center;
}

.gal div {
    flex-basis: 20% !important;
    margin-bottom: 20px;
}

.gal img {
    width: 200px;
    height: 150px;
}

.gal figure {
    position: relative;
    overflow: hidden;
}

.gal .anim {
    position: absolute;
    bottom: -150px;
    transition: 1s;
}

.gal .maindiv:hover .anim {
    bottom: 10px;
    color: white;
    transform: rotateZ(360deg);
}

.gal .maindiv {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

/* Pricing and Plans*/
.PricingPlans{
    background-color: #E25050;
}
.Pricing {
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    width: 100px;
} 
.Pricing .plan{
    width: 400px!important;
}
.Pricing ul {
    list-style: none;
}
.Princing li{
    display: inline-block;
   
}

.Pricing ul li:before {
    content: '✓';
}
.pricing1{
    border: 1px solid #D14343;
    margin-right: 2%;
    background-color: #D14343;
    margin-bottom: 5%;
}
.pricing1 .Left {
    margin-top: 8%;
    font-size: 15px;
    flex-basis: 20%;
}
.pricing1 li{
    font-size: 15px!important;
    text-align: left;
}
.pricing1 .Right{
    margin-top: 5%;
    width: 80px!important;
}

.pricinghead{
    padding-top: 30px;
}

/* Partners */
.partnerhead{
    margin-top: 30px;
    justify-content: center;
    text-align: center;
}
.partnerCarousel .images{
    margin: 4%;
}
.partnerCarousel .block{
    width: 700px!important;
    overflow:  hidden;
}
.partnerCarousel .slider div{
    animation: anim_3 5s linear alternate infinite;
}
@keyframes anim_3{
    0%{
        transform: translateX(0px);
    }
    30%{
        transform: translateX(0px);
    }
    40%{
        transform: translateX(-220px);
    }
    70%{
        transform: translateX(-220px);
    }
    80%{
        transform: translateX(-440px);
    }
    100%{
        transform: translateX(-440px);

    }
}

/* footer */
#footer i{
    font-size: 25px;
    color: white;
}
#footer h5{
    color: white;
}
#footer p{
    display: inline;
}
#footer ul li i{
    color: grey;
    font-size: 15px;
    padding: 2px;
}
#footer ul li:hover i{
    border: 1px solid white;
    background-color: white;
}
#footer .block2 li{
    display: inline-flex;
    margin: 2%;
}
#footer .block2 ul{
    text-align: right;
    align-self: flex-end;
    
}
#footer .Section1{
    margin: 5% 0%;
}
#footer hr{
    width: 80%;
    background-color: white;
    
}
.Section2 .block2 .input{
    flex-basis: 25%;
    width: 100px;
    margin: 10px;
}
.Section2 .block2 .area{
    flex-basis: 17%;
}
#footer p{
    font-size: 15px;
    color: #6B6B6B;
}
#footer hr{
    margin-bottom: 4%;
}
#footer{
    margin-top: 2%;
    background-color: black;
}
#footer .Section1{
    padding: 2%;
}
#footer button{
    background-color: #E25050;
    border: 1px solid #E25050;
}
#footer button:hover{
    background-color: grey;
    border: 1px solid grey;
}   